@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
a {
  color: #ffffff;
}

nav .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 84px;
  /* background-color: aqua; */
}
.navbar .seard-bar {
  display: flex;
  align-items: center;
  background: #efefef;
  width: 361px;
  border-radius: 14px;
  height: 54px;
}
.seard-bar input {
  width: 87%;

  height: 40px;
  outline: none;
  border: none;
  background: none;
}
.seard-bar .search-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: #efefef;
  background-color: #004f98;
}
.navbar .profiles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
.navbar .profiles .fa-solid {
  /* width: 39px;
      height: 39px; */
  font-size: 25px;
  color: #31313185;
}
/* side bar */

.driverDashboard {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 35px;
}
section .sidebar {
  position: relative;
  width: 266px;
  height: 607px;
  background-color: #004f98;
  margin-top: 105px;
  border-radius: 19px;
  margin-left: 35px;
  padding: 22px 18px;
}
.sidebar .profile-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}
.sidebar .profile-text img {
  width: 58px;
  height: 58px;
}
.sidebar .profile-text .side-text h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 31px; */
  text-align: left;
  text-underline-position: from-font;
  color: #ffffff;
  text-decoration-skip-ink: none;
}
.sidebar .profile-text .side-text p {
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
  /* line-height: 31px; */
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 40px;
}
.sidebar-links .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.sidebar-links .links .links-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: #004f98;
  background-color: #efefef;
}
.sidebar-links .links p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.sidebar-links .logout {
  position: absolute;
  bottom: 50px;
  left: 70px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  /* top: 0; */
}
.driver-page .driver-main-box {
  width: 1025px;
  height: 358px;
  box-shadow: 0px 0px 11.7px 0px #00000040;
  margin-top: 110px;
  border-radius: 10px;
  padding: 0px 20px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.track-left .uper-track .uper-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.track-left .uper-track .maps {
  display: flex;
  align-items: center;
  margin-top: 10px;
  /* justify-content: center; */
  gap: 10px;
}
.driver-main-box .uper-track {
  padding-top: 50px;
}
.driver-main-box .uper-left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.truck-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: #efefef;
  background-color: #004f98;
}
.driver-main-box .track-right img {
  width: 600px;
  height: 390px;
}

.lower-track {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}
.table-right-btn {
  background-color: #004f98;
  width: 108px;
  height: 35px;
}
.table-right-btn .add-icon {
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #ffffff; */
  border-radius: 50px;
  font-size: 8px;
  color: #004f98;
  background-color: #ffffff;
}
.table-right-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 6px;
}
.table-right-btn button {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  outline: none;
  border: none;
  background: none;
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
  max-width: 1200px;
  margin-top: 20px;
  /* margin: 0 auto; */
}
.container-left {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.card-title {
  font-size: 18px;
  font-weight: bold;
}
.card-subtitle {
  font-size: 14px;
  color: #666;
}
.btn {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-icon {
  background: none;
  border: none;
  cursor: pointer;
}
/* .table {
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.table th {
    background-color: #f8f9fa;
} */
.search-container {
  position: relative;
  margin-bottom: 20px;
}
.search-input {
  width: 100%;
  padding: 10px 10px 10px 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.message-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #d4e1ed;

  margin-bottom: 10px;
  border-radius: 4px;
}
.message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.message-content {
  flex-grow: 1;
}
.message-name {
  font-weight: bold;
}
.message-text {
  font-size: 14px;
  color: #666;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.card-b {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.table {
  width: 494px;
  /* height: 326px; */
  border-radius: 4px;
  padding: 12px 14px;
  box-shadow: 0px 0px 7px 0px #00000040;
}
.table .table-head {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-bottom: 8px;
}
.table .table-head .table-head-right h1 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}
.table .table-head .table-head-right p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
  max-width: 345px;
}
.table-right-btn {
  background-color: #004f98;
  width: 108px;
  height: 35px;
}
.table-right-btn .add-icon {
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 50px;
  font-size: 8px;
  /* color: #efefef; */
  /* background-color: #004f98; */
}
.table-right-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 6px;
}
.table-right-btn button {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  outline: none;
  border: none;
  background: none;
  color: #ffffff;
}
.table-data {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
  margin-top: 9px;
  gap: 6px;
}
.table-head-right .create {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 6px;
}
.create .links-icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50px;
  background: #004f98;
}
.driver-search {
  display: flex;
  align-items: center;
  gap: 10px;
}
.driver-search p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24.8px;
  letter-spacing: 0.020510777831077576px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.seard-bar {
  display: flex;
  align-items: center;
  background: #efefef;
  width: 301px;
  border-radius: 14px;
  height: 44px;
}
.seard-bar input {
  width: 87%;
  padding-left: 10px;
  height: 40px;
  outline: none;
  border: none;
  background: none;
}
.seard-bar .search-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: #efefef;
  background-color: #004f98;
}
.table-headings {
  width: 465px;
  height: 38px;
  border-radius: 7px;
  background: #e5edf5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 13px;
  margin-top: 5px;
  gap: 20px;
}
.table-headings p {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}
